# Python cache
__pycache__/
*.py[cod]
*.pyo

# dotenv environment files
.env
.env.*

# VSCode settings (optional)
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# ignore logs
logs/

# ignore user data [files]
user_storage/